node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
src/generated/**/*.ts
src/graphql/schema.json
.env
playstore_secret.json
dist/

# macOS
.DS_Store
/coverage
