node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
src/generatedAPI/**/*.ts
src/graphql/schema.json
.env
playstore_secret.json
dist/
bin/
artifacts/

# macOS
.DS_Store
/coverage

#firebase
google-services.json
encoded-google-services*

android/

ios/
